<main class="article" data-ceiling="topbar">
{{#with page.attributes.watermark}}
<div id="watermark">{{this}}</div>
{{/with}}
{{#if page.attributes.show-preview-banner}}
<div class="article-banner">
<i class="fas fa-cog"></i>
<h2>{{#with page.attributes.watermark}}<tt>{{this}}</tt>
{{else}}Preview{{/with}}</h2>
<p>You are viewing a preview version of the documentation.</p>
<p>Visit the <a href="{{ site.url }}/doctor/tree.html">preview landing page</a> for more details.</p>
</div>
{{/if}}

{{#unless (or (ne page.attributes.hide-view-latest undefined) (eq page.componentVersion page.component.latest))}}
{{#with page.latest}}
{{#if ./missing}}
{{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
<div class="article-banner">
<i class="fas fa-file-alt"></i> <p>You are viewing the documentation for a prerelease version.</p>
</div>
{{/if}}
{{else}}
<div class="article-banner">
{{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
<i class="fas fa-file-alt"></i> <p>You are viewing the documentation for a prerelease version.</p>
{{else}}
<i class="fas fa-file-alt"></i> <p>A newer version of this documentation is available.</p>
{{/if}}
<a class="btn" href="{{relativize ./url}}">View Latest</a>
</div>
{{/if}}
{{/with}}
{{/unless}}
<div class="article-header">
{{> crumbs}}
</div>
{{> article}}
</main>
